    {%- for edge in graph.edges %}
    {%- if edge.has_properties() %}
    input {{ edge.manipulate_input_name }} {
        {%- for property in edge.properties %}
        {{ property.key }}: {{ property.datatype.value }}{%- if property.required %}!{%- endif %}
        {%- endfor %}
    }{{ "\n" }}
    {%- endif %}{{ "\n" if loop.nextitem }}
    {%- endfor %}