type_defs = """
{% include 'query.jinja' %}

{% include 'mutation.jinja' %}

{% include 'vertex_types.jinja' %}

{% include 'edge_types.jinja' %}

{% include 'vertex_inputs.jinja' %}

{% include 'edge_inputs.jinja' %}

{% include 'vertex_logic.jinja' %}

{% include 'edge_logic.jinja' %}

{% include 'vertex_properties.jinja' %}

{% include 'edge_properties.jinja' %}

{% include 'vertex_order.jinja' %}

{% include 'edge_order.jinja' %}

{% include 'static.jinja' %}
"""