    {%- for vertex in graph.vertices %}
    {%- if vertex.has_properties()  %}
    input {{ vertex.manipulate_input_name }} {
        {%- for property in vertex.properties %}
        {{ property.key }}: {{ property.datatype.value }}{%- if property.required %}!{%- endif %}
        {%- endfor %}
    }{{ "\n" }}
    {%- endif %}
    {%- endfor %}