    {%- for vertex in graph.vertices %}
    {%- if vertex.has_properties()  %}
    {#- Vertex Logic #}
    input {{ vertex.logic_input_name }} {
        {#- Property Comparisons #}
        {%- for property in vertex.properties %}
        {{ property.key }}_EQ: {{ property.datatype.value }}
        {{ property.key }}_NEQ: {{ property.datatype.value }}
        {{ property.key }}_GT: {{ property.datatype.value }}
        {{ property.key }}_GTE: {{ property.datatype.value }}
        {{ property.key }}_LT: {{ property.datatype.value }}
        {{ property.key }}_LTE: {{ property.datatype.value }}
        {%- endfor %}
        {#- Nested Logic Components #}
        OR: [{{ vertex.logic_input_name }}!]
        AND: [{{ vertex.logic_input_name }}!]
    }
    {%- endif  %}
    {%- endfor %}